# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
.env
venv-py312/
ENV/
env.bak/

# IDE settings
#.vscode/
.idea/

# Jupyter notebooks
.ipynb_checkpoints/
#*.ipynb

# Project data
#/data/
cache/
tda/
/reports/
/artifacts/
notebooks/artifacts
notebooks/reports

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
